.container{
display:flex;
justify-content: space-evenly;
align-items: center;

}

a,a:active,a:hover{
    text-decoration :none;
    color:black;

}
/* sxolio */
@keyframes moveUp{
    0%{transform: translateY(-1px);}
  
    100%{transform: translateY(-5px);}
}
@keyframes moveDown{
    0%{transform: translateY(0px);}
  
    100%{transform: translateY(1px);}
}
button:hover{
animation: 2s moveUp linear;
}
button:active{

    animation: 2s moveDown linear;
    }

    .center{
        margin-top:20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }